body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff7f50; /* Tomato color */
  color: white;
  /* padding: 10px 0; */
  border-bottom: 3px solid #ff6347; /* Darker shade for the bottom border */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff7f50;
  padding: 20px;
}

h1 {
  text-align: center;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.food-table {
  text-align: center;
  margin: 12px;
}

.food-table button {
  background-color: #ff6347;
  border-color: white;
  border-radius: 12px;
  color: #ddd;
  width: 100px;
  height: 50px;
}

.food-table img {
  border-radius: 12px;
}

a {
  color: white;
  text-decoration: none; /* Removes the underline (optional) */
}

a:hover {
  color: #ccc; /* Changes color when hovering, you can customize this */
}

.food-table table td {
  padding: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 28px;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #ff4500; /* Darker shade of tomato */
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #708090;
  border-top: 2px solid #ddd;
}

footer h2 {
  margin-bottom: 10px;
}

footer img {
  margin: 0 5px;
}
