@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  /* overflow-x: hidden; */
}

header h2 {
  margin-top: 0;
}

header {
  box-shadow: 0 4px 12px rgb(68, 67, 66);
  position: sticky;
  top: 0;
  background-color: #ff6347;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  z-index: 1000;
}
.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.3s;
  padding: 10px 15px;
  border-radius: 12px;
}

nav ul li a:hover {
  background-color: #ff4500;

  color: white;
  text-decoration: none;
}

.burger {
  display: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-panel {
  background-color: #ff6347;
  color: white;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.4s ease;
  z-index: 1000;
}

.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}

.menu-panel ul li {
  margin-bottom: 20px;
}

.menu-panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  padding: 10px 15px;
  border-radius: 12px;
}

.menu-panel ul li a:hover {
  background-color: #ff4500;

  color: white;
  text-decoration: none;
}
.close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.paragraph h1 {
  padding-top: 20px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}

.paragraph p {
  font-size: 1.2rem;
  padding: 20px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

/* footer */
.signup-section {
  background-color: #ff7f50;
  color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
}

.signup-section h2 {
  font-size: 1.5em;
}

.signup-section h2 span {
  font-weight: normal;
  font-style: italic;
}

.signup-section p {
  font-size: 0.9rem;
  margin: 10px 0;
}

.signup-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.signup-form button {
  background-color: #f8a833;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #d68728;
}

.brands-section {
  margin-top: 20px;
  text-align: center;
}

.brands-section h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.brands {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.signup-section {
  margin-left: 35vw;
}

footer {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #666;
  background-color: #333;
  width: 100%;
  padding-bottom: 10px;
}

i {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 20px;
}

i:hover {
  color: #ff6347;
}
.footer-links {
  margin-top: 5px;
}

footer h3 {
  font-family: "Dancing Script", cursive;
}

.footer-links a {
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* grid */

.container {
  padding: 40px 10px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}

button {
  background-color: #ff6347;
  border-color: #ff6347;
  border-radius: 12px;
  color: #ddd;
  width: 120px;
  height: 50px;
  transition: background-color 0.3s;
  margin-top: 15px;
}

a {
  color: white;
  text-decoration: none;
}
button:hover {
  background-color: #ff4500;
}
a:hover {
  color: #ccc;
}

.container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgb(103, 101, 101);
  border-radius: 12px;
  transition: transform ease;
}

.container img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 426px) {
  .nav-links {
    display: none;
  }

  .logo-container > h2 {
    display: none;
  }
  .burger {
    display: block;
  }

  .menu-panel.active {
    right: 0;
  }

  .paragraph p {
    font-size: 0.8rem;
  }
  /* footer */
  .signup-section {
    padding: 15px;
    margin: 5%;
    width: 90%;
  }

  .signup-section h2 {
    font-size: 1.2em;
  }

  .signup-form {
    flex-direction: column;
    gap: 5px;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form button {
    width: 100%;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"] {
    padding: 10px;
  }

  .signup-form button {
    padding: 10px 0;
    font-size: 1em;
  }

  i {
    font-size: 1.5rem;
    color: #ff7f50;
    margin-bottom: 20px;
  }

  /* grid */

  .container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
  }

  .container img {
    height: 200px;
    object-fit: cover;
  }

  button {
    width: 90px;
    height: 45px;
  }
}

/* tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav-links li a {
    font-size: 1rem;
  }

  .nav-links li {
    margin-right: 5px;
  }

  .paragraph p {
    font-size: 1rem;
  }

  button {
    margin-bottom: 15px;
  }

  /* footer */
  .signup-section {
    padding: 15px;
    margin-left: 18%;
    width: 90%;
  }

  .signup-section h2 {
    font-size: 1.4em;
  }

  .signup-form {
    flex-direction: column;
    gap: 5px;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form button {
    width: 100%;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"] {
    padding: 15px;
  }

  .signup-form button {
    padding: 15px 0;
    font-size: 0.8rem;
  }

  i {
    font-size: 2.5rem;
    color: #ff7f50;
    margin-bottom: 15px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1044px) {
  /* footer */
  .signup-section {
    padding: 15px;
    margin-left: 25%;
    width: 90%;
  }

  .signup-section h2 {
    font-size: 1.5em;
  }

  .signup-form {
    flex-direction: column;
    gap: 5px;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form button {
    width: 100%;
  }

  .signup-form input[type="text"],
  .signup-form input[type="email"] {
    padding: 15px;
  }

  .signup-form button {
    padding: 15px 0;
    font-size: 0.8rem;
  }

  i {
    font-size: 3rem;
    color: #ff7f50;
    margin-bottom: 15px;
  }

  .container img {
    width: 240px;
    object-fit: cover;
  }

  .container {
    padding: 40px 30px;
  }
}

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff7f50;
  color: white;
  border-bottom: 3px solid #ff6347;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff7f50;
  padding: 20px;
}

h1 {
  text-align: center;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.food-table {
  text-align: center;
  margin: 12px;
}

.food-table button {
  background-color: #ff6347;
  border-color: white;
  border-radius: 12px;
  color: #ddd;
  width: 100px;
  height: 50px;
}

.food-table img {
  border-radius: 12px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

.food-table table td {
  padding: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 28px;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #ff4500;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #708090;
  border-top: 2px solid #ddd;
}

footer h2 {
  margin-bottom: 10px;
}

footer img {
  margin: 0 5px;
} */
